.files-actions {
  display: flex;
}

.files-actions_border_bottom {
  border-bottom: 1px solid var(--border-primary);
}

.files-actions__col {

}

.files-actions__col_position_left {

}

.files-actions__col_position_right {
  
}

.files-actions_distribute_between {
  justify-content: space-between;
}